* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body {
    /* Ensure no default browser margins/padding */
    margin: 0;
    padding: 0;
    width: 100%;  /* Ensure they take full width */
    height: 100%; /* Ensure they take full height */
}

body {
  min-height: 100%;  
  background: #ffffff;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

.container {
  max-width: 700px;   
  background: #fff;
  margin: 0px auto 0px; 
  border-radius: 3px;  
  padding: 5px;
  margin-top: 5px;
}

.about .position {
  font-weight: 800;
  color: black;
  font-size: large;
  font-family:"Roboto Flex", sans-serif;
}
.about .desc {
  font-weight: 500;
  color: rgb(54, 54, 54);
  font-family:"Roboto Flex", sans-serif;
}
.about{
  margin-bottom: 20px;
  font-family:"Roboto Flex", sans-serif;
  text-transform: uppercase;
}
.header {
  margin-bottom: 25px;

}
.header .full-name .first-name{
    font-family:"Roboto Flex", sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;

  }
.header .full-name .last-name {
    font-weight: 500;
    font-family:"Roboto Flex", sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #3f3f3f;
  }
.header .contact-info {
    margin-bottom: 20px;
    font-weight: 500;
    font-family:"Roboto Flex", sans-serif;
    color: #4d4d4d;
    text-transform: uppercase;
  }
.header  .email{
  font-weight: 500;
  font-family:"Roboto Flex", sans-serif;
  text-transform: uppercase;
}
.header .contact-val{
  font-weight: 500;
  font-family:"Roboto Flex", sans-serif;
  text-transform: uppercase;
}
  

  .header .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  
  
  
.sections-columns {
    display: flex; /* Makes the container a flex container */
    justify-content: space-between; /* Distributes space between columns */
    gap:5px; /* Adds space between the columns */
    margin-top: 10px; /* Add some space above the columns */

}

.left-column,
.right-column {
    flex: 1; /* Allows columns to grow and shrink equally */
}


.section {
  padding: 15px;
  font-family:"Roboto Flex", sans-serif;
}

.section .titulo {
  font-weight: 800;
  font-style:bold;
  color: black;
  font-size:16px;
  margin-bottom:5px;
  font-family:"Roboto Flex", sans-serif;
  text-transform: uppercase;

}
.section .study-title{
  font-size:medium;
  font-family:"Roboto Flex", sans-serif;
}
.section .job-title {
  font-weight: 600;
  margin-top: 10px;
  font-family:"Roboto Flex", sans-serif;
}
.section .duration {
  font-weight: 300;
  font-family:"Roboto Flex", sans-serif;
}

.section .items {
  font-weight: 500;
  color: rgb(54, 54, 54);
  font-family:"Roboto Flex", sans-serif;
}


.experience-item {
    margin-bottom: 20px; /* Space between items */
    padding-bottom: 20px; /* Space for the line and padding below it */
    border-bottom: 1px solid #e0e0e0; /* The grey horizontal line */
    font-family:"Roboto Flex", sans-serif;
}

/* Remove the border from the last item in the list */
.experience-item:last-child {
    border-bottom: none;
    margin-bottom: 0; /* Remove extra margin if this is the last item in the section */
    padding-bottom: 0;
    font-family:"Roboto Flex", sans-serif;
}
.section .study-description {
  font-weight:500;
  font-family:"Roboto Flex", sans-serif;
}






