* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    /* Ensure no default browser margins/padding */
    margin: 0;
    padding: 0;
    width: 100%;  /* Ensure they take full width */
    height: 100%; /* Ensure they take full height */
}

body {
  min-height: 100%;  
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

.container {
  max-width: 700px;   
  background: #fff;
  margin: 0px auto 0px; 
  border-radius: 3px;  
  padding: 40px;
  margin-top: 30px;
}

.about .position {
  font-weight: 800;
  color: black;
}
.about .desc {
  font-weight: 500;
  color: rgb(54, 54, 54);
}
.about{
  margin-bottom: 50px;
}
.header {
  margin-bottom: 50px;
  
  .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .first-name {
    font-weight: 700;
  }
  
  .last-name {
    font-weight: 300;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .email ,
  .phone {
    color: #999;
    font-weight: 300;
  } 
  
  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
}



.section {
  margin-bottom: 30px;
}

.section .titulo {
  font-weight: 800;
  font-style:bold;
  color: black;
}

.section .items {
  font-weight: 500;
  color: rgb(54, 54, 54);
}









