<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Objetivo - Change-it</title>
<link rel="stylesheet" href="../static/css/diseño.css" />
</head>
<body>

<nav>
  <a class="logo" href="/index" style="text-decoration: none; color: inherit;">Change-it   </a>
  <div class="nav-links">
    <a href="/instrucciones">Instrucciones</a>
    <a href="/objetivo">Objetivo</a>
    <a href="/nosotros">Nosotros</a>
    <a href="/contacto">Contacto</a>
  </div>
</nav>

  <main class="info-section">
    <h2>¿Cuál es nuestro objetivo?</h2>
    <p>
      En Change-it, nuestro objetivo es transformar la forma en que los profesionales gestionan sus currículums. Usamos tecnología avanzada para identificar oportunidades de mejora, reorganizar la información de manera eficaz y adaptarla a las demandas actuales del mercado laboral.
    </p>
    <div class="quote">
      <blockquote>
        "Transformar tu currículum en una herramienta poderosa que te acerque a tu próximo trabajo."
      </blockquote>
    </div>
    <p>
      Nuestra plataforma no solo organiza tu información, sino que también optimiza el contenido, destacando tus habilidades y experiencias de la manera más atractiva para los reclutadores.
    </p>
  </main>

  <footer>
    &copy; 2025 Change-it. Todos los derechos reservados.
  </footer>

</body>
</html>
